<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%">
            <mat-form-field fxFlex="100%" class="example-full-width" appearance="fill">
                <mat-label>Jogador Email</mat-label>
                <input type="email" matInput [(ngModel)]="this.emailDe">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="lerRelacionamentos()">Ler</button>

        </div>
        <div fxFlex="100%" *ngFor="let relacao of relacionamentos">
            <mat-card class="card mat-elevation-z10">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <mat-icon *ngIf="!relacao.avatar">account_circle</mat-icon>
                        <img *ngIf="relacao.avatar" src="data:image/jpeg;base64,{{relacao.avatar}}" />
                    </div>
                    <mat-card-title>{{relacao.nome}}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="row wrap">
                    <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row wrap">
                        <mat-label fxFlex="100%">Força Ligação</mat-label>

                        <mat-slider fxFlex="100%" class="example-margin" thumbLabel [disabled]=true [max]=100 [min]=1
                            [(ngModel)]="relacao.forcaLigacao" aria-labelledby="example-name-label">
                        </mat-slider>
                    </div>
                    <div fxFlex="50%" fxFlex.lt-md="100%" fxLayout="row wrap">
                        <mat-label fxFlex="100%">Força Relação</mat-label>
                        <input type="number" matInput [readonly]=true [(ngModel)]="relacao.forcaRelacao">
                    </div>

                    <mat-label fxFlex="100%">Tags</mat-label>
                    <mat-chip-list fxFlex="100%" #chipList aria-label="Tags selection">
                        <mat-chip *ngFor="let tag of relacao.tags">
                            {{tag}}
                        </mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="editRelacionamento(relacao)">Editar</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
    <mat-paginator #paginator>
    </mat-paginator>
</div>