<div class="editarJogadorForm">
  <form class="example-container" [formGroup]="editarJogadorForm" *ngIf = "editarJogadorForm">

    <mat-form-field appearance="fill" color="primary">
      <mat-label>Nome</mat-label>
      <input matInput type="string" placeholder="max. 40 carateres" formControlName="nome">
      <span matSuffix>
        <mat-icon>person</mat-icon>
      </span>
      <mat-error>Max size: 40 carateres</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Email</mat-label>
      <input matInput type="string" placeholder="email@email.pt" formControlName="email">
      <span matSuffix>
        <mat-icon>email</mat-icon>
      </span>
      <mat-error>Email inválido</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Password</mat-label>
      <input matInput type="string" placeholder="**********" formControlName="password">
      <span matSuffix>
        <mat-icon>password</mat-icon>
      </span>
      <mat-error>Número de carateres inválido</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Humor</mat-label>
      <input matInput type="string" placeholder="Humor" formControlName="humor">
      <span matSuffix>
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </span>
      <mat-error>Humor inválido</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Facebook URL</mat-label>
      <input matInput type="string" placeholder="Facebook URL" formControlName="urlFacebook">
      <span matSuffix>
        <mat-icon>facebook</mat-icon>
      </span>
      <mat-error>URL inválido</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>LinkedIn URL</mat-label>
      <input matInput type="string" placeholder="LinkedIn URL" formControlName="urlLinkedIn">
      <span matSuffix>
        <mat-icon>reduce_capacity</mat-icon>
      </span>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Telefone</mat-label>
      <input matInput type="string" placeholder="Telefone" formControlName="telefone">
      <span matSuffix>
        <mat-icon>phone</mat-icon>
      </span>
      <mat-error>Número inválido</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field class="datePicker" appearance="fill" color="primary">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento" formControlName="dataNascimento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Nacionalidade</mat-label>
      <input matInput type="string" placeholder="Nacionalidade" formControlName="nacionalidade">
      <span matSuffix>
        <mat-icon>flag</mat-icon>
      </span>
      <mat-error>Texto inválido</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Cidade de residência</mat-label>
      <input matInput type="string" placeholder="Cidade de residência" formControlName="cidadeResidencia">
      <span matSuffix>
        <mat-icon>location_city</mat-icon>
      </span>
      <mat-error>Texto inválido</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Descrição breve</mat-label>
      <textarea matInput type="string" placeholder="Descrição breve" formControlName="descricaoBreve"></textarea>
      <span matSuffix>
        <mat-icon>description</mat-icon>
      </span>
      <mat-error>Texto inválido</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <!-- <mat-form-field class="fileControl-wrapper">

      <input formControlName="ficheiro" readonly name="File" type="file" />
      <input type="file" #uploadControl id="fileControlInput" (change)="onFileChange($event)" name="fileControlInput"
            multiple="multiple" accept="image/*" />

    </mat-form-field> -->
    <!-- <button mat-flat-button color="primary">Escolher Avatar</button> -->
  </form>
</div>
<div class="buttons">
  <button mat-raised-button color="primary" (click)="back()">Voltar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar Dados</button>
</div>