

.editarJogadorForm{
  padding-top: 5px;
  display: flex;
  flex-direction: column;

  .example-container{
    width: 600px;
    // justify-content: space-between;

  }

  .mat-form-field {
    width: 600px;
    text-align: left;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
}

.mat-flat-button{
    width: 1000px !important;
  }


#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}
}

.buttons{
    margin-right: 8px;
}