<div *ngIf="messageService.messages.length" class="mgs">

    
    <div class="title">
    <h2>Mensagens</h2>
    <button class="btn1" mat-button color="primary" (click)="messageService.clear()">Apagar</button>
    </div>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>

  </div>