.content{
  width: 100%;
}

mat-paginator{
  margin-top: 16px;
}

mat-slider{
  margin-top: 10px;
}

mat-card{
  padding-top: 5%;
}

mat-card-content{
  mat-label{
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

::ng-deep {

  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

  .mat-slider-thumb {
    transform: scale(0) !important;
  }

  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }

  .mat-slider-disabled {
    .mat-slider-thumb-label {
      display: flex !important;
    }
  }

}
