<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
    <div class="userImage">
      <img src="assets/images/network.jpg"/>
    </div>
    <mat-nav-list class= "itemListContainer">
      <a mat-list-item [routerLink]="item.state" *ngFor="let item of MENUITEMS" class="itemList"><span>{{item.name}}</span>
        <mat-icon>
          {{item.icon}}
        </mat-icon>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
  <div class="msg">
    <app-messages></app-messages>
 </div>
</mat-drawer-container>
