.example-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
}

.example-sidenav-content {
  display: block;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.example-sidenav {
  padding: 20px;
  background-color: rgb(187, 218, 238);
  width: 260px;

  .example-card {
    max-width: 200px;
  }

  .userImage {
    border: 5px solid rgba(0, 0, 0, 0.5);
    height: 200px;


    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .itemListContainer{


    ::ng-deep .mat-list-item-content{
      width: 100%!important;
      justify-content: space-between!important;

      .itemList {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  msg {
    position: absolute;
    bottom: 0;
    background-color: rgb(252, 252, 252);
  
  }

}
